{% if bc.bloco.nome == 'CONTATO' %}
<section class="margin-top-128 ">
    <div class="container py-lg-5">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center">
                <h2 class="mb-4">{{bc.titulo}}</h2>
            </div>
        </div> 
        <div class="row mb-5">
            {% for contato in bc.conteudo.all %} 
            <div class="col">
                <div class="h-100 align-self-stretch box p-4 text-center bg-light">
                    <i class="{{contato.icone}} fa-4x"></i>
                    <h3 class="mb-4">{{contato.titulo_1}}</h3>
                    <p><a class="link-dark text-decoration-none" href="{{contato.rota_botao_1}}">{{contato.titulo_2}}</a></p>
                </div>
            </div>
            {% endfor %} 
        </div>

        <div class="">
            <div class="d-flex">
                {% for contato in bc.conteudo.all %}
                {% if forloop.first %}
                    <img class="object-fit-cover " src="{{contato.imagem.url}}"width="450" alt="">
                {% endif %}
                {% endfor %}
                <form class="row p-5 m-5" action="#" class="bg-light p-5 ">
                    <h4 class="mb-2">Formulaire de contact</h4>
                    <div class="form-group mb-2">
                        <input type="text" class="form-control" placeholder="Votre nom">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" class="form-control" placeholder="Votre e-mail">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" class="form-control" placeholder="Titre">
                    </div>
                    <div class="form-group mb-2">
                        <textarea name="" id="" cols="30" rows="7" class="form-control"
                            placeholder="Message..."></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Envoyer message" class="custon-btn1 py-3 px-5">
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
{% endif %}